.login {
  background-color: #ebe7e7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login .div {
  background-color: #ebe7e7;
  height: 1080px;
  position: relative;
  width: 1920px;
}

.login .logincard {
  background-color: #ffffff;
  border: 2px solid;
  border-color: #000000;
  border-radius: 20px;
  height: 705px;
  left: 660px;
  position: absolute;
  top: 142px;
  width: 600px;
}

.login .text-wrapper {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 259px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 105px;
  width: 82px;
}

.login .email {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  height: 47.28px;
  justify-content: center;
  left: 142px;
  padding: 8px 16px;
  position: absolute;
  top: 212px;
  width: 316px;
}

.login .text-wrapper-2 {
  color: #808080;
  flex: 1;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.login .password {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  height: 47.28px;
  justify-content: center;
  left: 142px;
  padding: 8px 16px;
  position: absolute;
  top: 284px;
  width: 316px;
}

.login .google {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 20px;
  display: flex;
  gap: 14px;
  height: 58px;
  justify-content: center;
  left: 142px;
  padding: 8px 16px;
  position: absolute;
  top: 601px;
  width: 316px;
}

.login .icon-google {
  height: 30.61px;
  position: relative;
  width: 30.61px;
}

.login .text-wrapper-3 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.login .div-wrapper {
  align-items: center;
  background-color: #000000;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  height: 47.28px;
  justify-content: center;
  left: 142px;
  padding: 8px 16px;
  position: absolute;
  top: 391px;
  width: 316px;
}

.login .text-wrapper-4 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.login .overlap-group {
  height: 24px;
  left: 142px;
  position: absolute;
  top: 456px;
  width: 328px;
}

.login .text-wrapper-5 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 260px;
}

.login .frame {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 249px;
  padding: 0px 10px;
  position: absolute;
  top: 2px;
}

.login .text-wrapper-6 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.login .text-wrapper-7 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 142px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 345px;
  width: 315px;
}

.login .text-wrapper-8 {
  color: #808080;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 289px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 533px;
}

.login .logo {
  align-items: center;
  border-radius: 8px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 60px;
  padding: 12px 24px;
  position: absolute;
  top: 34px;
}

.login .text-wrapper-9 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}
