*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.free
{
    padding: 10px 30px;
    width: 100%;
    background-color: rgb(241, 241, 244);
    display: flex;
}

.logo p {
    color: black;
    font-size: 20px;
    margin-left: 0px;
    padding: 10px;
    color: black;
    font-size: 16px;
    font-weight: 800;
    font-family: 'Arial', Times, serif;

}

.main_header {
    padding: 20px 50px;
    width: 100%;
    border-bottom: 1px solid #010f1c;
}

.main_header .container {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}

.main_header .container .search_box {
    display:flex;
    margin-right: 30px;
}

.main_header .container .search_box input {
    outline: none;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 20px;
    color: white;
    width: 250px;
}

.main_header .container .button {
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    outline: none;
    padding: 10px 6px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-size:x-large;
    margin-left: 10px;
    width:40px;
}

.main_header .container .nav {
    display: flex;
    padding: 10px;
    max-width: 100%;
}

.main_header .container .nav ul {
    display: flex;
}

.main_header .container .nav ul li {
    margin-left: 18px;
    list-style: none;
}

.main_header .container .nav ul li .link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.5s;
}

.main_header .container .nav ul li button {
    margin-right: 20px;
    font-size: 15px;
    color:black;
    font-weight: bolder;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;

}

.main_header .container .nav ul li .icon {
    display: flex;

}

.main_header .container .nav ul li .link:hover {
    font-weight: bolder;
}

.main_header .container .nav ul li button:hover {
    font-weight: bolder;
}
.main_header .container .auth {
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.main_header .container .auth:hover .Link {
    color: red;
}

.header {
    width: 100%;
    padding: 20px 30px;
    box-shadow: rgba(0, 0, 0.35) 0px 5px 15px
}

.header .container {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}

.header .container .nav ul {
    display: flex;
}

.header .container .nav ul li {
    margin-left: 20px;
    list-style: none;
}

.header .container .nav ul li .link {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.header .container .nav ul li .link:hover {
    font-weight: bolder;
}

.header .container .auth {
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.header .container .auth button {
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;

}

.header .container .auth button:hover {
    color: red;
}