.place-description {
    align-items: flex-start;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0;
    padding:0;
    width:100%;
}

/* Place description sidebar isn't needed */


/* title */
 .frame-7 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    padding: 20px 170px;
    position: relative;
    max-width: 100%;
  }

.place-description .text-wrapper-3 {
    color: Black;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
}
/* End title */

.place-description .images {
    display:flex;
    position: relative;
    flex-wrap: wrap;
    height:300px;
    padding: 0px, 170px;
  }

.place-description .review{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: 10px 170px;
}
.place-description .review  .frame-9 {
    align-items: center;
display: inline-flex;
flex: 0 0 auto;
gap: 10px;
justify-content: center;
padding: 10px;
position: relative;
}

.summary {
    display: flex;
    padding: 20px 170px;
    width:100%;
}
.summary p {
    color: black;
    font-size: 20px;
    font-weight: 100;
}

.container {
    display: flex;
    width: 100%;
    margin: 0;
    padding:0;
}

.container .description {
    display: flex;
    padding:0;
    align-items: center;
    padding: 0px 170px;
}

.container .description  p{
    font-size:16px;
    font-weight: 100;
}

