.tab {
    align-items: flex-start;
    background-color: #000000;
    display: flex;
    gap: 48px;
    justify-content: center;
    padding: 0px;
    position: relative;
    max-width: 100%;
  }
  
  .tab .item {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 12px;
    justify-content: center;
    padding: 16px 8px 8px 0px;
    position: relative;
  }
  
  .tab .img {
    height: 24px;
    position: relative;
    width: 24px;
  }
  
  .tab .title {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .tab .item-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 12px;
    justify-content: center;
    position: relative;
  }
  
  .tab .title-2 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .tab .item-3 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 12px;
    justify-content: center;
    position: relative;
  }
  
  .tab .title-3 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .tab .destination {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #ffffff;
  }
  
  .tab .option-destination {
    padding: 16px 0px 8px;
  }
  
  .tab .option-culture {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: #ffffff;
    padding: 16px 8px 8px 0px;
  }
  
  .tab .option-activity {
    padding: 16px 0px 8px;
  }
  
  .tab .option-0-destination {
    padding: 16px 0px 8px;
  }
  
  .tab .option-0-culture {
    padding: 16px 0px 8px;
  }
  
  .tab .option-0-activity {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #ffffff;
    padding: 16px 8px 8px 0px;
  }
  
  .tab .item-2.option-culture .title-2 {
    margin-top: -1px;
  }
  